@using AnkaraEvents.Data
@using AnkaraEvents.ViewModels
@model CreateEventViewModel


<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="EventName">EventName</label>
        <input asp-for="EventName" class="form-control" placeholder="Enter event name">
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Enter event description">
        <span asp-validation-for="Description" class="text-danger"></span>    </div>

    <div class="form-group">
        <label asp-for="EventCategory">Category</label>
        <select asp-for="EventCategory" asp-items="@Html.GetEnumSelectList<EventCategory>()" class="form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="EventCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventAddress.Street">Street</label>
        <input asp-for="EventAddress.Street" class="form-control" placeholder="Enter event street">
        <span asp-validation-for="EventAddress.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventAddress.City">City</label>
        <input asp-for="EventAddress.City" class="form-control" placeholder="Enter event city">
        <span asp-validation-for="EventAddress.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventAddress.District">District</label>
        <input asp-for="EventAddress.District" class="form-control" placeholder="Enter event district">
        <span asp-validation-for="EventAddress.District" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" type="date" class="form-control" placeholder="Enter event date">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image"  type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>